@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgb(105, 102, 102) ;
}

#card{
    background-color: white;
    height: 300px;
    width: auto;
    text-align: center;
    align-items: center;
    padding: 10px;
}



.image{
    height: 200px;
    width: auto;
}
